@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'trap';
    src: url('assets/fonts/Trap-Regular.otf');
  }

*
{
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
}




:root {
    --primary:#fff;
    --scndry:#000;
    --maincolor: #F94C10;
    --scndcolor: #CC0834;
}




body
{
    background: var(--primary);
}

.container
{
    max-width: 1320px;
    margin: 0 auto;
}

#headersection
{
    /* background: red; */
    /* height: 100px; */
    position: fixed;
    width: 100%;
    z-index: 999;
}
#headersection .navbar
{
    /* margin: 10px 10%; */
    /* padding: 0 60px; */
    /* background: var(--scndry); */
    border-radius: 50px;
}
#headersection .menu-bar
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#headersection .menu-bar a
{
    transition: .3s ease;
}
#headersection .menu-bar a:hover
{
    transform: scale(1.1);
}
#headersection .main-navbar
{
    display: flex;
    justify-content: space-between;
}
#headersection .main-navbar .navbrand
{
    padding: 25px 0 10px 0;
    display: flex;
    align-items: center;
}
#headersection .main-navbar .navbrand a
{
    width: 190px;
}
#headersection .main-navbar .navbrand img
{
    width: 100%;
    transition: .2s ease-in-out;
}
#headersection .main-navbar .navbrand img:hover
{
    transform:scale(1.1);
}

#headersection .main-navbar .nav-main
{
    display: flex;
    flex-direction: column;
    /* display: none; */
}





#menucnvs
{
    position: fixed;
    right: -50%;
    top:0;
    padding: 3% 8% 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap:100px; */
    background: rgba(255, 255, 255, 0.80);backdrop-filter: blur(20px);
    height: 100vh;
    transition: .3s ease;
}
.menucnvs-active
{
    right: 0 !important;
}
.menuopen, .menuclose
{
    cursor: pointer;
}
#menucnvs .cnvs-logo
{
    width: 200px;
}
#menucnvs .cnvs-logo img
{
    width: 100%;
}

#menucnvs ul
{
    display: flex;
    gap:30px;
    justify-content: flex-end;
    /* align-items: center; */
    flex-direction: column;
    width: fit-content;
    
}
#menucnvs ul li
{
    list-style-type: none;
}
#menucnvs ul li .navlink
{
    position: relative;
    text-decoration: none;
    /* color: var(--primary); */
    color: var(--scndry);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding:10px 30px;
    border-radius: 50px;
    z-index: 1;
    transition: .2s ease;

}
#menucnvs ul li a::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to left, #F94C10, #C70039);
    border-radius: 50px;
    z-index: -1;
    transition: .2s ease;
    transform: scale(0);
}
#menucnvs ul li a:hover
{
    color: var(--primary);
}
#menucnvs ul li a:hover::before
{
    width: 100%;
    transform: scale(1);
}

#menucnvs .social-icon p
{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
#menucnvs .social-icon .icons
{
    display: flex;
    gap:20px;
    margin-top: 20px;
}
#menucnvs .social-icon .icons a
{
    text-decoration: none;
    /* padding: 5px 10px; */
    background: var(--scndry);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    transition: .3s ease;
}
#menucnvs .social-icon .icons a:hover
{
    background:var(--maincolor);
}
#menucnvs .social-icon .icons a i
{
    font-size: 18px;
}

#menucnvs .address
{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#menucnvs .address .phone p
{
    font-size: 16px;
    font-weight: 600;
}
#menucnvs .address i
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menucnvs .address div
{
    display: flex;
    gap:20px;
}



#main
{
    position: relative;
}
#bannersection
{
    width: 100%;
}
#bannersection .container
{
    display: flex;
}
#bannersection .left,
#bannersection .right
{
    width: 50%;   
    height:100vh;
}
#bannersection .right
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#bannersection .left
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#bannersection .left h3
{
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 700;
}
#bannersection .left h2
{
    font-size: 38px;
    background: -webkit-linear-gradient(180deg, var(--maincolor), var(--scndcolor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform:uppercase;
    font-weight: 800;
}
#bannersection .left h1
{
    font-size: 70px;
    text-transform:uppercase;
    font-weight: 800;
    margin-top: -8px;
}
.banner-text
{
    font-family: 'trap' !important;
}
.grade-sec
{
    background: -webkit-linear-gradient(0deg, var(--maincolor), var(--scndcolor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}