@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'trap';
    src: url('assets/fonts/Trap-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
}




:root {
    --primary: #fff;
    --scndry: #000;
    --maincolor: #F94C10;
    --scndcolor: #CC0834;
}

p
{
    margin:0 !important;
}


body {
    background: var(--primary);
}

/* .container {
    max-width: 1320px;
    margin: 0 auto;
} */

#headersection {
    background: #ffffff80;
    backdrop-filter: blur(20px);
    /* height: 100px; */
    position: fixed;
    width: 100%;
    z-index: 999;
}

#headersection .navbar {
    /* margin: 10px 10%; */
    /* padding: 0 60px; */
    /* background: var(--scndry); */
    border-radius: 50px;
}

#headersection .menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#headersection .menu-bar a {
    transition: .3s ease;
}

#headersection .menu-bar a:hover {
    transform: scale(1.1);
}

#headersection .main-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#headersection .main-navbar .navbrand {
    padding: 25px 0 10px 0;
    display: flex;
    align-items: center;
}

#headersection .main-navbar .navbrand a {
    width: 190px;
}

#headersection .main-navbar .navbrand img {
    width: 100%;
    transition: .2s ease-in-out;
}

#headersection .main-navbar .navbrand img:hover {
    transform: scale(1.1);
}

#headersection .main-navbar .nav-main {
    display: flex;
    flex-direction: column;
    /* display: none; */
}





#menucnvs {
    position: fixed;
    right: -50%;
    top: 0;
    padding: 3% 8% 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap:100px; */
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(20px);
    height: 100vh;
    transition: .3s ease;
}

.menucnvs-active {
    right: 0 !important;
}

.menuopen,
.menuclose {
    cursor: pointer;
}

#menucnvs .cnvs-logo {
    width: 200px;
}

#menucnvs .cnvs-logo img {
    width: 100%;
}

#menucnvs ul {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    /* align-items: center; */
    flex-direction: column;
    width: fit-content;

}

#menucnvs ul li {
    list-style-type: none;
}

#menucnvs ul li .navlink {
    position: relative;
    text-decoration: none;
    /* color: var(--primary); */
    color: var(--scndry);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 50px;
    z-index: 1;
    transition: .2s ease;

}

#menucnvs ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to left, #F94C10, #C70039);
    border-radius: 50px;
    z-index: -1;
    transition: .2s ease;
    transform: scale(0);
}

#menucnvs ul li a:hover {
    color: var(--primary);
}

#menucnvs ul li a:hover::before {
    width: 100%;
    transform: scale(1);
}

#menucnvs .social-icon p {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

#menucnvs .social-icon .icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#menucnvs .social-icon .icons a {
    text-decoration: none;
    /* padding: 5px 10px; */
    background: var(--scndry);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    transition: .3s ease;
}

#menucnvs .social-icon .icons a:hover {
    background: var(--maincolor);
}

#menucnvs .social-icon .icons a i {
    font-size: 18px;
}

#menucnvs .address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#menucnvs .address .phone p {
    font-size: 16px;
    font-weight: 600;
}

#menucnvs .address i {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menucnvs .address div {
    display: flex;
    gap: 20px;
}



#main {
    position: relative;
}

#bannersection {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* #bannersection .container {
    display: flex;
} */

/* #bannersection .left,
#bannersection .right {
    width: 50%;
    height: 100vh;
} */

/* #bannersection .right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
} */

#bannersection .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#bannersection .left h3 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 700;
}

#bannersection .left h2 {
    font-size: 40px;
    background: -webkit-linear-gradient(180deg, var(--maincolor), var(--scndcolor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 38px;
}

#bannersection .left h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: -5px;
}
#bannersection .left .animation-div
{
    overflow: hidden;
    position: relative;
    height:40px;
}
#bannersection .left .animation-div .text-items
{
    
    animation-name: change;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  /* transition: .3s ease; */
}




@keyframes change {
    0%{
      transform: translate3d(0, 0, 0);
    }
    10%, 20%{
      transform: translate3d(0, -16.6%, 0);
    }
    30%, 40%{
      transform: translate3d(0, -33.2%, 0);
    }
    50%, 60%{
      transform: translate3d(0, -49.8%, 0);
    }
    70%, 80%{
      transform: translate3d(0, -66.4%, 0);
    }
    90%, 99.99%{
      transform: translate3d(0, -83.10%, 0);
    }
    100%{
      transform: translate3d(0, 0%, 0);
    }
    
  }



.banner-text {
    font-family: 'trap' !important;
}

.grade-sec {
    background: -webkit-linear-gradient(0deg, var(--maincolor), var(--scndcolor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-btn
{
    display: flex;
    gap:20px;
}
.banner-btn .dwnld-cv
{
    padding:5px 20px;
    border-radius: 40px;
    background: var(--primary);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--scndry);
    color: var(--scndry);
    font-weight: 700;
    transition: .3s ease;
}
.banner-btn .dwnld-cv:hover
{
    background: var(--scndry);
    color: var(--primary);

}
.banner-btn .myworks
{
    padding:5px 20px;
    border-radius: 40px;
    background: var(--scndry);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
    border: 1px solid var(--scndry);
    font-weight: 700;
    transition: .3s ease;
}
.banner-btn .myworks:hover
{
    background: var(--primary);
    color: var(--scndry);
    border: 1px solid var(--scndry);
}







#bannersection .right .img-div
{
    position: relative;
}
.banner-img::after
{
    content: '';
    position: absolute;
    left:-15%;
    bottom:-15%;
    background: var(--maincolor);
    opacity: .3;
    width:240px;
    height: 240px;
    z-index: -1;
    border-radius: 50%;
    filter: blur(100px);
}
.banner-img::before
{
    content: '';
    position: absolute;
    right:-5%;
    top:-5%;
    background: var(--scndcolor);
    opacity: .3;
    width:315px;
    height: 315px;
    z-index: -1;
    border-radius: 50%;
    filter: blur(100px);
}
#bannersection .right .img-div .bnr-shape
{
    width: 85px;
    height:85px;
    background: rgba(255, 255, 255, 0.30);
    /* background: red; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%;
    margin-bottom: 20px;
    margin:10px 10px;
    box-shadow: 0px 0px 20px #00000010;
    /* border:3px solid #ffffff85; */
}
#bannersection .right .img-div .bnr-shape::after
{
    content: '';
    border-radius: 50%; 
    border: 3px solid transparent; 
    background: linear-gradient(90deg,var(--maincolor),var(--scndcolor)) border-box; 
    -webkit-mask: 
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; 
            mask-composite: exclude; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
#bannersection .right .img-div .shape1
{
    position: absolute;
    top:20%;
    left:0;
}
#bannersection .right .img-div .shape2
{
    width: 55px;
    height: 55px;
    position: absolute;
    bottom:20%;
    right:8%;
}



.infi-sction
{
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    padding: 5% 0;
}
.infi-sction .top-infi
{
    background: var(--scndry);
}
.infi-sction .main-items, .main-items-2
{
    display: flex;
    justify-content: center;
    gap:60px;
    margin:0;
    padding: 5px 0;
}
.infi-sction .items
{
    list-style-type: none;
    font-size: 22px;
    color: var(--primary);
    text-transform: uppercase;
    font-weight: 600;
}
.infi-sction .bottom-infi
{
    background: linear-gradient(90deg,var(--maincolor),var(--scndcolor));
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    rotate: -4deg;
    width: 110%;
    transform: translate(-10px, -10px);
}
.infi-sction .infi-main
{
    position: relative;
}





































#about-section
{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-section .abt-main-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 0 150px;
}
#about-section .abt-para
{
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    letter-spacing: -1px;
    color: var(--scndry);
    letter-spacing: .1px;
}
#about-section .abt-para span
{
    font-weight: 700;
}
#about-section .abt-main-para
{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: var(--scndry);
}
.main-head
{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.sp-head
{
    background: -webkit-linear-gradient(0deg, var(--scndcolor), var(--maincolor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}






















#service-section
{
    /* height: 100vh; */
    width: 100%;
    padding: 0 0 10% 0;
}

#service-section .service-mainsec
{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
#service-section .service-desc h4
{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}
#service-section .service-desc
{
    padding: 20px 30px;
    background: linear-gradient(to left,var(--maincolor), var(--scndcolor) );
    position: relative;
}
#service-section .service-desc .serv-para
{
    color: #fff;
    font-size: 16px;
    width: 70%;
    line-height: 20px;
    font-weight: 300;
    padding-top: 5px;
}
#service-section .service-desc .nmbr
{
    -webkit-text-stroke: .5px #fff;
    /* -webkit-text-fill-color: #FFF; */
    font-family: 'poppins';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: transparent;
    position: absolute;
    right: 4%;
    bottom: 12%;
    line-height: 60px;
}